/* Code By Webdevtrick ( https://webdevtrick.com ) */
* {
    box-sizing: border-box;
}

[hidden] {
    display: none !important;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

table {
    min-width: 100vw;
    width: auto;
    -webkit-box-flex: 1;
    flex: 1;
    /* display: grid; */
    border-collapse: collapse;
    /* grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr) */
        /* minmax(150px, 1.67fr)
        minmax(150px, 1.67fr)
        minmax(150px, 3.33fr)
        minmax(150px, 1.67fr)
        minmax(150px, 3.33fr)
        minmax(150px, 1.67fr); */
}

thead,
tbody,
tr {
    display: contents;
}

th,
td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    border: 1px solid rgb(0, 0, 0);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #5cb85c;
    text-align: left;
    font-weight: normal;
    font-size: 1.1rem;
    color: white;
    position: relative;
}

/* th:last-child {
    border: 0;
} */

.resize-handle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0;
    width: 10px;
    cursor: col-resize;
}

.resize-handle:hover,
.header--being-resized .resize-handle {
    opacity: 0.5;
}

th:hover .resize-handle {
    opacity: 0.3;
}

td {
    border: 1px solid grey;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #0a0909;
}

/* tr:nth-child(even) td {
    background: #f8f6ff;
    opacity: 0.7;
} */

.header {
    background-color: rgb(69, 140, 231);
}
.file_name {
    background-color: rgb(204,255,255);
}
.exists {
    background-color: rgb(153,255,204);
}
.differs {
    background-color: rgb(255,255,204);
}
.missing {
    background-color: rgb(204,153,204);
}
.compare_error {
    background-color: rgb(255,0,0);
}
.empty {
    background-color: rgb(153,153,153);
}
.row {
    background-color: rgb(200,200,200);
}
.arow {
    background-color: rgb(193,255,224);
}
.drow {
    background-color: rgb(255,204,204);
}