/* Code By Webdevtrick ( https://webdevtrick.com ) */

/* html {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
}
.text-center {
    text-align: center;
}
.content {
    max-width: 960px;
    margin: auto;
}

table.data {
    border-collapse: collapse;
}

table.data tr th,
table.data tr td {
    border: 1px solid #ccc;
} */

* {
    box-sizing: border-box;
}

[hidden] {
    display: none !important;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: small;
}

table {
    min-width: 100vw;
    width: auto;
    -webkit-box-flex: 1;
    flex: 1;
    
    border-collapse: collapse;
}

body .main_table {
    overflow: scroll !important;
}

thead {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

th,
td {
    padding: 5px;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    border: 1px solid rgb(0, 0, 0);
    /* position: -webkit-sticky; */
    /* position: sticky; */
    top: 0;
    background: #5cb85c;
    text-align: left;
    font-weight: normal;
    font-size: 1.1rem;
    color: white;
}


td {
    border: 1px solid grey;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #0a0909;
}

.header {
    background-color: rgb(69, 140, 231);
}
.file_name {
    background-color: rgb(204,255,255);
}
.exists {
    background-color: rgb(153,255,204);
}
.differs {
    background-color: rgb(255,255,204);
}
.missing {
    background-color: rgb(204,153,204);
}
.compare_error {
    background-color: rgb(255,0,0);
}
.empty {
    background-color: rgb(153,153,153);
}
.row {
    background-color: rgb(200,200,200);
}
.arow {
    background-color: rgb(193,255,224);
}
.drow {
    background-color: rgb(255,204,204);
}